.brand-site{
    font-size: 1.25rem;
    color: var(--color-blue-light-1);
}

.sidebar {
    height: 100vh;
    background-color: var(--color-black);
    padding: 3rem 1.5rem 3rem 3.75rem;
    position: fixed;
    max-width: 340px;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* menu con items de navegacion */
.nav-menu ul, .config ul{
    list-style: none;
    padding: 0;
}

.nav-menu ul li{
    display: flex;
    list-style: none;
    color: var(--color-white);
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    gap: 0.5rem;    
}

.nav-menu .active{
    background-color: var(--color-white);
    color: var(--color-blue-americanino);
    font-weight: bold;
    border-radius: 0.5rem;
}
.nav-menu .active .icono-menu{
    filter: invert(13%) sepia(41%) saturate(100%) hue-rotate(195deg) brightness(0%) contrast(98%);
}

.nav-menu li:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--color-blue-americanino);
    font-weight: bold;
    border-radius: 0.5rem;
}

.nav-menu li:hover .icono-menu {
    filter: invert(13%) sepia(41%) saturate(100%) hue-rotate(195deg) brightness(0%) contrast(98%);
}

/* menu de la seccion de configuraciones */
.config a {
    display: block;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
}

.config-item a{
    color: var(--color-white);
}

.config ul li{
    display: flex;
    align-items: center;
}

.config ul .config-item a:hover {
    color: var(--color-grey-light-1);
}

.config ul .config-item:hover .icono-conf {
    filter: invert(91%) sepia(1%) saturate(100%) hue-rotate(7deg) brightness(100%) contrast(0%);
}

/* contenido del dashboard */
.content {
    margin-left: 340px;
    display: flex;
    max-width: 60.875rem;
    padding: 3rem 1.5rem 5.375rem 1.5rem;
    flex-direction: column;
    align-items: flex-start;
}

input#searchCamp.form-control.search{
    padding-left: 2.5rem;
    color: var(--color-grey-light-3);
    background-color: var(--color-white);
    border: none;
}

.search-icon{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 2;
}

/* campañas activas */
.thumbnail-campain{
    max-width: 640px;
    min-width: 280px;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 0.75rem;
    /* background: url('assets') lightgray 50% / cover no-repeat; */
    object-fit: cover;
}

.active-campain .card{
    border: none;
}
.active-campain .card-body{
    padding: 0;
}

.link-text:hover{
    color: var(--color-grey-light-3)
}

/* area de notificaciones y accesos rapidos */
.helpers{
    width: 100%;
}

.notification-container{
    border-radius: 1rem;
    background: var(--color-white);
    box-shadow: 5px 5px 10px 1px #BABABA;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: start;
}
.notification{
    padding: 0.5rem;
}
.notification-title{
    font-weight: bold;
    margin-bottom: 0;
}
.notification-message{
    margin-bottom: 0;
}
/* notificaciones acciones nuevas */
.icon-notification.new-message{
    background: var(--color-success-light);
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
}
.icon-notification img{
    filter: invert(5%) sepia(3%) saturate(0%) hue-rotate(22deg) brightness(0%) contrast(80%);
}
/* notificaciones recordatorios */

/* notificaciones alerta */

@media (max-width: 767.98px) {

}