@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* reset valores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables de color */
:root {
    --color-blue-americanino: #18254D;
    --color-blue-light-1: #A8D4E7;
    --color-blue-light-2: #7BC7E8;
    --color-black: #1D1D1B;
    --color-white: #F6F6F6;
    --color-grey-light-1: #D2D2D2;
    --color-grey-light-2: #ACACAC;
    --color-grey-light-3: #838382;
    --color-success-light: #A8E7C5;
    --tamano-fuente: 16px;
    --border-1: 0.75rem;
    --shadow-1: 1px 3px 6px 0 rgba(186, 186, 186, 0.25);
}

a{
    color: inherit;
    text-decoration: none;
}

html {
    min-height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: var(--tamano-fuente);
    font-style: normal;
    font-weight: 400;
    background-color: var(--color-white);
    color: var(--color-black);
    overflow-x: hidden;
}

/*Headings*/
p {
    font-size: 1rem;
}

h6,
.h6 {
    font-size: 1.25rem;
    font-weight: 500;
}

h5,
.h5 {
    font-size: 1.5rem;
    font-weight: 500;
}

h4,
.h4 {
    font-size: 1.75rem;
    font-weight: 600;
}

h3,
.h3 {
    font-size: 2rem;
    font-weight: 600;
}

h2,
.h2 {
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
}

h1,
.h1 {
    font-size: 2.889rem;
    font-weight: 700;
}

/* Forms */
input[type=text]{
    background-color: var(--color-white);
}

input::placeholder {
    font-size: 1rem;
}

input[type=text]:focus {
    border: 2px solid lightblue;
}

/* Botones */
.button-primary {
    max-width: 320px;
    min-width: 180px;
    background-color: var(--color-blue-light-1);
    color: var(--color-blue-americanino);
    font-weight: bold;
    font-size: 1rem;
    border-radius: var(--border-1);
    border: none;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    text-align: center;
}

.button-primary:hover {
    background-color: var(--color-blue-light-2);
}

.button-secondary {
    max-width: 320px;
    min-width: 180px;
    background-color: var(--color-grey-light-1);
    color: var(--color-blue-americanino);
    font-weight: bold;
    font-size: 1rem;
    border-radius: var(--border-1);
    border: none;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    text-align: center;
}

.button-secondary:hover {
    background-color: var(--color-blue-light-2);
}

/* general */
